<div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
    <h2>{{ valor | number }}</h2>
    <h2>{{ persona | json }}</h2>
    <button 
        pButton 
        label="Mostrar Valores" 
        icon="pi pi-check" 
        iconPos="right" 
        class="p-button-help"
        (click)="mostrarValores()">
    </button>

    <p-card [header]="nombre | titlecase" subheader="This is a Subheader">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil fugiat velit quam recusandae, ipsam ea harum error ad! Odit nobis inventore asperiores aspernatur eius sunt quis saepe exercitationem? Perspiciatis, provident.
    </p-card>
</div>
